<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Spotify playlist downloader</title>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet", href="../dist/stylesheets/site.css">
</head>
<body>


  <script>
    var gui = require('nw.gui');
    var win = gui.Window.get();

    // open dev tools
    win.showDevTools();
  </script>
  <script src="../bower_components/react/react.js"></script>
  <script src="../dist/jsx/app.js"></script>
  <script>

  </script>

</body>
</html>